$mainColor: #2c2f3c;
$secondColor: #2c2f3c;
$textColor: #c0c3ce;
$underlineColor: #14a0c7;
$bgColor: #fff;
$btnColor: #699900;
$gradient: linear-gradient(to right, #62921b, #2f5dd0);
$bgImg: '../img/m-h-day.jpg';
$mainFont: 'Hind', sans-serif;