$mainColor: #ffffff;
$secondColor: #3b3f50;
$textColor: #c0c3ce;
$underlineColor: #ff4e33;
$bgColor: #21232e;
$btnColor: #e3ac00;
$gradient: linear-gradient(to right, #dda305, #96314f);
$bgImg: '../img/m-h-night.jpg';
$mainFont: 'Fresca', sans-serif;
